.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.addButtonCol {
  display: flex;
  justify-content: end;
  align-items: center;
}

.titleRow {
  margin-bottom: 30px;
}
